[General]
Pre19Defaults=false
Pre21Defaults=false
Pre23Defaults=false
Pre24.1Defaults=false
FirstRun=true
LastVersion=419430403

#if 'obs_facebook' in $data['wizard.sectionnamelist'] 
#set obssection = 'facebook'
#set streamingtype = ''
#elif 'obs_youtube' in $data['wizard.sectionnamelist'] 
#set obssection = 'youtube'
#set streamingtype = ''
#elif 'obs_icecast2_audio' in $data['wizard.sectionnamelist'] 
#set obssection = 'obs_icecast2_audio'
#set streamingtype = 'icecast2_audio_mp3'
#elif 'obs_icecast2_video' in $data['wizard.sectionnamelist']
#set obssection = 'obs_icecast2_video'
#set streamingtype = 'icecast2_audio_ts'
#end if

[Basic]
Profile=${streamingtype}
ProfileDir=${streamingtype}
SceneCollection=${streamingtype}
SceneCollectionFile=${streamingtype}

[BasicWindow]
gridMode=false
geometry=AdnQywADAAAAAAAAAAABPAAABDoAAAQ3AAAAAgAAAVwAAAQ4AAAENQAAAAAAAAAAB4AAAAACAAABXAAABDgAAAQ1
DockState=AAAA/wAAAAD9AAAAAQAAAAMAAAQ3AAAApPwBAAAABvsAAAAUAHMAYwBlAG4AZQBzAEQAbwBjAGsBAAAAAAAAALAAAACgAP////sAAAAWAHMAbwB1AHIAYwBlAHMARABvAGMAawEAAAC2AAAAsAAAAKAA////+wAAABIAbQBpAHgAZQByAEQAbwBjAGsBAAABbAAAAWQAAADcAP////sAAAAeAHQAcgBhAG4AcwBpAHQAaQBvAG4AcwBEAG8AYwBrAQAAAtYAAACQAAAAkAD////7AAAAGABjAG8AbgB0AHIAbwBsAHMARABvAGMAawEAAANsAAAAywAAAMsA////+wAAABIAcwB0AGEAdABzAEQAbwBjAGsCAAACYgAAAbgAAAK8AAAAyAAABDcAAAH9AAAABAAAAAQAAAAIAAAACPwAAAAA
PreviewEnabled=true
AlwaysOnTop=false
SceneDuplicationMode=true
SwapScenesMode=true
EditPropertiesMode=false
PreviewProgramMode=false
DocksLocked=false

[ScriptLogWindow]
geometry=AdnQywADAAAAAAAAAAAAAAAAAlcAAAGPAAAAAAAAAAAAAAJXAAABjwAAAAAAAAAAB4AAAAAAAAAAAAAAAlcAAAGP
